Configuration(
    animation: (
        table: {
            (Character, IdleRifle): ["character_idle_rifle"],
        },
        parts: {
            "character_idle_rifle": (
                filename: "character_idle_rifle",
                layer: 0.5,
                framerate: Fix(1.0),
            ),
        },
        directory: "assets/animations",
    ),
    fps: 60,
    physic_max_timestep: 1000.0,
    physic_min_timestep: 0.0,
    map_directory: "assets/maps",
    zoom: 1080,

    player_velocity: 1000000.0,
    player_radius: 10.0,
    player_linear_damping: 10000.0,
    player_angular_damping: 10000.0,

    gravity: 1.0,
)
