MapSettings(
    rules: [
        (
            trigger: "#ff0000",
            processor: TakeNPositions(3, RandomPositionDispatch([
                (1, BuildEntity(Monster(( size: 21.0, attack: 31.0 )))),
                (1, BuildEntity(Portal(( inserted: Monster((size: 21.0, attack: 31.0 )))))),
            ]))
        )
    ]
)
