MapSettings(
    insert_rules: [
        (
            trigger: "#ff0000",
            processor: TakeNPositions(1, BuildEntity(Turret((
                animation_specie: Character,
                radius: 1,
                max_cooldown: 1,
                insert_shift: true,
                bullet: GravityBomb((
                    animation_specie: Character,
                    damage: 1,
                    mass: 1,
                    powi: 1,
                    radius: 1,
                    players_aim_damping: None,
                    insert_shift: true,
                )),
            )))),
        )
    ],
    fill_rules: [
        // (
        //     trigger: "#00ff00",
        //     processor: TakeNPositions(1, BuildEntity(Wall(()))),
        // )
    ],
    segment_rules: [
        (
            trigger: "#00ff00",
            processor: TakeNPositions(1, BuildEntity(Wall(()))),
        )
    ],
)
